[Desktop Entry]
Name=FeatherBlox
Comment=Lightweight Roblox launcher using Cordial
Exec=featherblox
Icon=featherblox
Terminal=false
Type=Application
Categories=Game;
