[Desktop Entry]
Name=FeatherBlox 2
Comment=Lightweight Roblox launcher for old Linux PCs
Exec=featherblox
Icon=featherblox
Terminal=false
Type=Application
Categories=Game;
